<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
{% load static %}
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

<title>Visualization Project</title>

<!-- 데이터플래닛 -->
<link rel="stylesheet" href="{% static 'css/user/icons.css' %}" />
<link rel="stylesheet"
	href="https://www.dataplanet.co.kr/css/user/style.css?v=2018121705" />
<!-- <link rel="stylesheet" href="css/user/style.css" /> -->
<link rel="stylesheet" href="{% static 'css/common/animate.min.css' %}" />
<script src="//code.jquery.com/jquery-latest.js"></script>
<!-- <script src="js/common/jquery-latest.js"></script> -->
<script src="{% static 'js/common/jquery-ui.min.js' %}"></script>

<!-- 부트스트랩 관련 -->
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.css' %}">
<script src="{% static 'js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js/vendor/sidebar.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/vendor/navbar.css' %}">

<!-- Fade In 효과 -->
<script>
	$(document).ready(function() {

		/*! Fades in page on load */
		//$('body').css('display', 'none');
		$('body').fadeIn(1000);

	});
</script>
<style>
    section{
        padding-bottom:0;
    }
</style>

</head>
<body class="" style="display: none;">

	<!-- Navigation 부분 -->
	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
		rel="stylesheet"
		integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
		crossorigin="anonymous">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a id="menu-toggle" href="#" class="nav-btn btn-dark btn-lg toggle">
					<i class="fa fa-bars" style="color: #fff;"></i>
				</a>
			</div>
		</div>
	</nav>
	<nav id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<a id="menu-close" href="#"
				class="btn btn-danger pull-right hidden-md hidden-lg toggle"><i
				class="fa fa-times"></i></a>
			<li class="sidebar-brand"><a href="{% url 'intro:index' %}"><strong>[ HOME ]</strong></a></li>
			<li><a href="#" title="About">About</a></li>
			<li><a href="{% url 'chart:chart_list' %}" title="Data Charts">Data - Charts</a>
			</li>
			<li><a href="{% url 'intro:comingsoon' %}" title="Issue">Issue</a></li>
			<li><a href="{% url 'intro:comingsoon' %}" title="Service">Service</a></li>
		</ul>
	</nav>
	<!-- /navigation -->

	<!-- 배경 애니메이션 효과 -->
	<div class="chart-list-bg type1" style="">
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">

		<section class="container">

			<section class="chart">

				<div class="desc">
					<div class="graph type1"></div>
					<div class="clear"></div>
					<h1 class="title">Charts</h1>
					<div class="clear"></div>
					<p class="text">지방소멸 관련 차트를 제공합니다.</p>
				</div>

				<div class="list-wrap default">
					<div class="top">
						<div class="list-type">
							<a href="#" class="gallery active" title="썸네일 보기"></a> <a
								href="#" class="default " title="리스트 보기"></a>
						</div>

						<div class="clear"></div>
					</div>
					<div class="cont gallery active">
						<ul>
						    <!--  
						    <li chart-idx="6150">
                                <a href="https://www.dataplanet.co.kr/user/chart/view?chart_id=KjedS">
                                <a href="chartDetail.io?chart_id=pop_move">
                                    <h2 class="title">
                                        <span class="plus">┼</span> 전국 연도별 인구 변화(2018)
                                    </h2> <span class="info">제공기관: 가연 / 유형: using custom colors</span>
                                    <div class="cate">Culture /  Life</div>
                                    <div class="new right">New</div>
                                    <div class="cover"
                                        style="background-image: url(../images/chart/cover/default.png);"></div>
                                    <div class="bg"
                                        style="background-image: url(../images/chart/cover/chart_bg2.jpg);">
                                        <div class="overlay-chart"></div>
                                    </div>
                                 </a>
                            </li> -->
                            {% for chart in object_list %}
						    <!-- 4번째 게시글 마다 last 클래스 적용. 줄바꿈 적용 -->
						        {% if forloop.counter|divisibleby:4 %}
							      <li class="last">
                                {% else %}
								  <li>
                                {% endif %}
								<!-- <a href="https://www.dataplanet.co.kr/user/chart/view?chart_id=KjedS"> -->
								<a href="{% url 'chart:chart_detail' id=chart.chart_id %}">
									<h2 class="title">
										<!--<span class="plus">┼</span>--> {{chart.title}}
									</h2> <!-- <span class="info">제공기관: 가연 / 유형: using custom colors</span> -->
									<!-- <div class="cate">Culture /  Life</div>-->
									<div class="new right">New</div>
									<div class="cover"
										style="background-image: url({% static 'images/chart/cover/default.png' %});"></div>
									<div class="bg"
										style="background-image: url({% static 'images/chart/cover/chart_bg2.jpg' %});">
										<div class="overlay-chart"></div>
									</div>
							     </a>
							</li>
                            {% endfor %}

						</ul>
						<div class="clear"></div>
						{% comment %} <div class="options white"> {% endcomment %}

                        <div class="options white">

							<!-- Pagination -->
                            {% if is_paginated %}
                                <nav>
                                    <ul class="pagination justify-content-center" style="margin:20px 0">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style='margin-right:unset;'>
                                            <span>Prev</span>
                                        </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled page-item">
                                        <a class="page-link" href="#" style='margin-right:unset;'>
                                            <span>Prev</span>
                                        </a>
                                        </li>
                                    {% endif %}
                                    
                                    {% for page in page_range %}
                                        <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                                        <a class="page-link" href="?page={{ page }}" style='margin-right:unset;'>{{ page }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" style='margin-right:unset;'>
                                            <span>Next</span>
                                        </a>
                                        </li>
                                    {% else %}
                                        <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                                        <a class="page-link" href="#" style='margin-right:unset;'>
                                            <span>Next</span>
                                        </a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</section>
		</section>

		<div class="push"></div>
	</div>
	<!-- /wrapper End -->
	<section class="container-footer" style="padding-top: 20px;">
		<footer class="footer">
			<div class="space"></div>
			<div class="text">
				ⓒ <a href="../">Op5p PROJECT</a> All Rights Reserved.
			</div>
			<div class="space"></div>
		</footer>
	</section>



	<!-- 배경 애니메이션 효과 -->
	<script src="{% static 'plugin/animatedBackgrounds/TweenLite.min.js' %}"></script>
	<script src="{% static 'plugin/animatedBackgrounds/EasePack.min.js' %}"></script>
	<script src="{% static 'plugin/animatedBackgrounds/rAF.js' %}"></script>
	<script src="{% static 'plugin/animatedBackgrounds/demo-1.js' %}"></script>

	<!-- 데이터 플래닛 -->
	<script src="{% static 'js/common/slick.min.js' %}"></script>
	<script src="{% static 'js/common/magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/common/wow.min.js' %}"></script>
	<script src="{% static 'js/common/particles.min.js' %}"></script>
	<script src="{% static 'js/user/script.js' %}"></script>

</body>
</html>